* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}

nav {
    background-color: black;
    padding: .3rem 2.2rem;
    border: 2px solid white;
}

.logo {
    font-size: 1.5rem;
}

.logo img{
    height: 3rem;
    width: 5rem;
    border-radius: 50px;
}

.menu {
    color: white;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    text-decoration: underline;
}

.menu li {
    padding: 1rem .3rem;
    list-style: none;
    
}

.secondary {
    border-bottom: 1px solid #444;
}

.toggle {
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: none;
    border: none;
}

.toggle:hover {
    transform: rotate(90deg);
}
/* mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
    letter-spacing: .1rem;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    letter-spacing: .2rem;
}

.item:active {
    display: block;
}

@media all and (min-width: 483px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .button a {
        background-color: teal;
        padding: .5rem 1rem;
        border-radius: 50em;
        border: 1px solid #006d6d;
    }

    .button.secondary a{
        background-color: transparent;
    }

    .button a:hover{
        text-decoration: none;
        transition: all 25.s;
    }
}

@media all and (min-width: 768px) {

    .item {
        display: block;
        width: auto;
        order: 1;
    }
    .button {
        order: 2;
        border-bottom: none;
    }

    .toggle {
        display: none;
    }

    .menu li{
        padding: 1rem .7rem;
    }
}